@model IEnumerable<SCML.Models.Type>

@{
    ViewBag.Title = "Types";
}
<div class="package-header yellow-bg">
    <h5>@ViewBag.Title</h5>
</div>
<div style="margin:20px">
    
    <p style="float:right">
        @Html.ActionLink("Create New", "Create", "Types", routeValues: null, htmlAttributes: new { @class = "btn btn-warning text-right" })
    </p>
    <br />
    <br />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>

    <div style="padding-left: 300px;">
        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100">
            <thead>
                <tr>
                    <th>
                        Content Type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Content Type
                    </th>
                    <th></th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
        }
            </tbody>
        </table>
    </div>
</div>