<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alif Assets Management</title>

    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">


    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
  
   
   

    <script src="~/js/jquery-3.1.1.js"></script>


    

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
   

    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax.js"></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/js/gmaps.js"></script>
    

    <script type="text/javascript" src="~/js/main.js"></script>

   

    
    <script type="text/javascript" src="~/js/coundown-timer.js"></script>
    <script type="text/javascript" src="~/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="~/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/js/jquery.ticker.js"></script>



    <script type="text/javascript">

        $(window).on('load', function () {
            $('#myModal').modal('show');
        });

    </script>

</head>

<body>
    @*<div class="preloader">
        <div class="preloder-wrap">
            <div class="preloder-inner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>*@
    
    <!--/.preloader-->


    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" >

                <!-- Modal content-->
                <div class="modal-content">
                    <!-- <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>

                     </div>-->
                    <div class="modal-body">
                        <img class="img-responsive" src="~/images/slider/address change Door White.jpg" alt="slider">
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>-->
                </div>

            </div>
        </div>
    </div>

    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>


                    <a class="navbar-brand" style="background-color:#ffffff" href="index.html"><h1><img src="~/images/logo.png" alt="logo"></h1></a>
                </div>
                
                <div class="collapse navbar-collapse">
                    <div style="float:right">
                        <a href="/Partial/FinancialLiteracy"><img src="/images/links/Financial Literacy.png" width="60" height="30" alt="Owl Image"></a>
                        <a href="/account/login" title="Login"><img src="/images/Login.png" width="30" alt="Owl Image"></a>
                    </div>    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll"><a href="#navigation">Home</a></li>
                        <li class="scroll"><a href="#about-us">About Us</a></li>
                        <li class="scroll"><a href="#board-team">Boards</a></li>
                        <li class="scroll"><a href="#management-team">Management</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Career <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Employment in ALIF", "Index", "Career")</li>
                                <li>@Html.ActionLink("Current Openings", "CurrentOpenings", "Career")</li>
                            </ul>
                        </li>
                        <li class="scroll"><a href="#contact">Contact</a></li>
                        <!-- Admin Menu-->
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Admin <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Content Types", "Index", "Types")</li>
                                    <li>@Html.ActionLink("Contents", "Index", "Contents")</li>
                                    <li>@Html.ActionLink("Uploaded CV", "Index", "UploadCV")</li>
                                    <li>@Html.ActionLink("Job", "Index", "JobDetails")</li>
                                    @*<li><hr></li>*@
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a id="logoff" href="javascript:document.getElementById('logoutForm').submit()"   class="logoff">Log off</a>


                                        }
                                    </li>

                                   
                                </ul>
                            </li>
                        }

                    </ul>
                </div>
                
                
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation-->


    @RenderBody()

    <section id="contact">
        <div id="map">
            <iframe width="100%" height="443" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvGaYDpy9_OZlj8MZ6PBo0_LdtA4SG2vM&q=Arthosuchak" allowfullscreen
                    frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>

        </div>
        <div class="contact-section">
            <div class="ear-piece">
                <img class="img-responsive" src="~/images/ear-piece.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4">
                        <div class="contact-text">
                            <h3>Contact</h3>
                            <address>
                                E-mail: <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="69191b0604062919081b1d10470a0604">info@alif-amc.com</a>
                                <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;) if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2) e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script><br>
                                Phone: +88 02 8881155<br>
                                Fax: +88 02 8881297
                            </address>
                        </div>
                        <div class="contact-address">
                            <h3>Contact</h3>
                            <address>
                                Rupayan Taj (5th Floor)<br>
                                1/1, Culvert Road,<br>
                                Naya Palton, Dhaka-1000<br>
                                Bangladesh
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div id="contact-section">
                            <h3>Send a message</h3>
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="main-contact-form" class="contact-form" name="contact-form" action="Home/Index"  method="post" >
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="submit_contact" class="btn btn-primary pull-right">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> Copyright &copy;2017<a target="_blank" href="#"> Alif Assets Management </a>. All Rights Reserved. <br> Developed by <a target="_blank" href="#">GetGrow Techno Soft</a></p>
            </div>
        </div>
    </footer>

   
</body>
</html>
